USE [master]
GO
/****** Object:  Database [TP06_repaso-PatejimFeldman]    Script Date: 12/8/2025 11:47:15 ******/
CREATE DATABASE [TP06_repaso-PatejimFeldman]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP06_repaso-PatejimFeldman', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP06_repaso-PatejimFeldman.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP06_repaso-PatejimFeldman_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP06_repaso-PatejimFeldman_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP06_repaso-PatejimFeldman].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP06_repaso-PatejimFeldman]
GO
/****** Object:  User [alumno]    Script Date: 12/8/2025 11:47:15 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 12/8/2025 11:47:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[fecha] [date] NOT NULL,
	[finalizada] [bit] NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Tareas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 12/8/2025 11:47:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[foto] [varchar](50) NOT NULL,
	[fechaLastLogIn] [datetime] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tareas] ON 

INSERT [dbo].[Tareas] ([id], [titulo], [descripcion], [fecha], [finalizada], [idUsuario]) VALUES (1, N'Matematica', N'polinomios: ejercicio 1, 2, 3', CAST(N'2025-09-16' AS Date), 0, 1)
INSERT [dbo].[Tareas] ([id], [titulo], [descripcion], [fecha], [finalizada], [idUsuario]) VALUES (4, N'Matematica', N'numeros reales: ejercicio 3, 4, 5', CAST(N'2025-09-15' AS Date), 0, 2)
INSERT [dbo].[Tareas] ([id], [titulo], [descripcion], [fecha], [finalizada], [idUsuario]) VALUES (5, N'Matematica', N'numeros reales: ejercicio 3, 4, 5', CAST(N'2025-09-25' AS Date), 0, 3)
SET IDENTITY_INSERT [dbo].[Tareas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([username], [password], [nombre], [apellido], [foto], [fechaLastLogIn], [id]) VALUES (N'MaxiPate', N'123', N'Maxi', N'Patejim', N'maxi.jpg', NULL, 1)
INSERT [dbo].[Usuario] ([username], [password], [nombre], [apellido], [foto], [fechaLastLogIn], [id]) VALUES (N'Melman', N'123', N'Feli', N'Feldman', N'feli.jpg', NULL, 2)
INSERT [dbo].[Usuario] ([username], [password], [nombre], [apellido], [foto], [fechaLastLogIn], [id]) VALUES (N'GoodBoy', N'123', N'Mati', N'Naddeo', N'mati.jpg', NULL, 3)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tareas_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Tareas] CHECK CONSTRAINT [FK_Tareas_Usuario]
GO
USE [master]
GO
