<h1>Bienvenido a la lista de tareas</h1>
<form action='@Url.Action("LogIn", "Acount")' method ="post">   ver si aca va Acount o AcountController
    <input type="submit" name = "INICIAR SESION">
</form>
<form action='@Url.Action("SignIn", "Acount")' method ="post">   ver si aca va Acount o AcountController
    <input type="submit" name = "REGISTRARSE">
</form>